


.prev,.next
{
    font-size: 20px;
}

.author
{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.quote
{
    font-size: 40px;
    
}


